body {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: #222222;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 0;
    background-color: #11998e;
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 {
    font-size: 2rem;
    margin-left: 20px;
    text-align: left;
}

#navbar {
    margin-right: 20px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 70px;
    text-align: center;
}

#navbar ul li {
    display: inline-block;
}

#navbar ul.fill li a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; /* Adjust this value as needed */
    border-bottom: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 2s;
    margin-right: 20px; /* Add space to the right of each item */
    text-align: center;
}

#navbar ul.fill li a:after {
    display: block;
    position: absolute;
    content: '';
    height: 2px;
    background: #fff;
    width: 0;
    bottom: 0;
    left: 50%;
    transition: all 0.5s;
}

#navbar ul.fill li a:hover {
    color: #fff;
}

#navbar ul.fill li a:hover:after {
    width: 100%;
    left: 0;
}

#footer {
    background-color: #11998e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__label {
    position: absolute;
    top: 0;
    display: flex;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
    width: 100%;
    justify-content: space-between;
}

.form__field:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field:focus + .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: transparent;
    background-image: linear-gradient(to right, #11998e, #38ef7d);
    -webkit-background-clip: text;
    font-weight:700;    
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.row {
    display: flex;
    justify-content: space-between;
}

.section {
    flex: 1;
    margin-right: 10px;
}

.section:last-child {
    margin-right: 0;
}

select, input[type="submit"] {
    font-size: 1.3rem;
}

.field-checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.field-checkbox .form__label {
    margin-right: 10px;
}

.predict-button {
    border: 2px solid #fff;
}

.full-width {
    flex: 3;
}

#university-label {
    top: 0; /* Adjust this value as needed */
}

@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #fff;
    }
}
