body {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: #222222;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; /* Adjust this value to make the header bigger or smaller */
    padding: 10px 0;
    background-color: #11998e;
    color: #fff;
    text-align: center;
    display: flex; /* Add this to vertically center the text */
    align-items: center; /* Add this to vertically center the text */
    justify-content: space-between; /* Add this to put space between the h1 and navbar */
}

#header h1 {
    font-size: 2rem; /* Increase the font size */
    margin-left: 20px;
    text-align: left; /* Align the text to the left */
}

#navbar {
    margin-right: 20px; /* Adjust this value to increase or decrease the right margin */
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 70px; /* Aligns the links vertically */
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-size: 0.8rem; /* Decrease the font size */
}

#navbar ul li a:hover {
    background-color: #38ef7d; /* Changes the background color when you hover over a link */
}

#footer {
    background-color: #11998e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    align-items: flex-start; /* Add this line */
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fff; /* Change the border color to white */
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__label {
    position: absolute;
    top: 0;
    display: flex;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff; /* Change the label color to white */
    width: 100%; /* Set the width to 100% of the form group */
    justify-content: space-between;
}

.form__field:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field:focus + .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: transparent; /* Make the text transparent */
    background-image: linear-gradient(to right, #11998e, #38ef7d); /* Add the gradient background */
    -webkit-background-clip: text; /* Clip the background to the text */
    font-weight:700;    
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.row {
    display: flex;
    justify-content: space-between;
}

.section {
    flex: 1;
    margin-right: 10px;
}

.section:last-child {
    margin-right: 0;
}

select, input[type="submit"] {
    font-size: 1.3rem; /* Set the font size to the same as the input fields */
}

.field-checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.field-checkbox .form__label {
    margin-right: 10px;
}