<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <div id="header">
        <h1>Academic Excellence Index</h1>
        <div id="navbar">
            <ul class="fill">
                <li><a href="#home">Home</a></li>
                <li><a href="#essay">Essay</a></li>
            </ul>
        </div>
    </div>    
    <div id="content">
        <form id="student-form">
            <div class="row">
                <div class="section">
                    <div class="form__group">
                        <input type="text" id="gpa" name="gpa" class="form__field">
                        <label for="gpa" class="form__label">GPA:</label>
                    </div>
                </div>                           
                <div class="section">
                    <div class="form__group">
                        <input type="text" id="sat" name="sat" class="form__field">
                        <label for="sat" class="form__label">SAT:</label>
                    </div>
                </div>
                <div class="section">
                    <div class="form__group">
                        <input type="text" id="act" name="act" class="form__field">
                        <label for="act" class="form__label">ACT:</label>
                    </div>
                </div>
            </div>      

            <!-- For the SAT II Scores and AP Exam Scores row -->
            <div class="row">
                <div class="section">
                    <div class="form__group field-checkbox">
                        <label for="sat2-checkbox" class="form__label">
                            SAT II: 
                            <input type="checkbox" id="sat2-checkbox" onclick="toggleInput('sat2')">
                        </label>
                        <div id="sat2-input" style="display: none;">
                            <input type="text" name="sat2" class="form__field"><br>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="form__group field-checkbox">
                        <label for="ap-checkbox" class="form__label">
                            AP Exam: 
                            <input type="checkbox" id="ap-checkbox" onclick="toggleInput('ap')">
                        </label>
                        <div id="ap-input" style="display: none;">
                            <input type="text" name="ap" class="form__field"><br>
                        </div>
                    </div>
                </div>                                
                <div class="section"></div>
            </div>

            <!-- For the University dropdown row -->
            <div class="row">
                <div class="section full-width">
                    <div class="form__group">
                        <label for="university" id="university-label" class="form__label">University:</label>
                        <select id="university" name="university" class="form__field">
                            <option value="Washington University in St. Louis">Washington University in St. Louis</option>
                            <option value="Fontbonne University">Fontbonne University</option>
                            <option value="Saint Louis University">Saint Louis University</option>
                        </select><br>
                    </div>
                </div>
            </div>

            <!-- For the Predict button row -->
            <div class="row">
                <div class="section">
                    <div class="form__group">
                        <input type="submit" value="Predict" class="form__field predict-button">
                    </div>
                </div>
                <div class="section"></div>
                <div class="section"></div>
            </div>
        </form>
    </div>
    <div id="footer">
        <div id="prediction-result"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
